{% extends 'master.html' %}
{% load crispy_forms_tags %} 
{% block content %}

<body style="background-color: #f2f2f2;"> <!-- Light gray background color -->

<h1>Edit Project</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var userId = {{user_id}} ;

        fetch('/api/project/' + userId + '/')
           .then(response => response.json())
           .then(data => {
                // populate the form fields with the existing data
                document.getElementById('id_nama').value = data.nama;
                document.getElementById('id_kode').value = data.tujuan;
                document.getElementById('id_tahun').value = data.tangmul;
                document.getElementById('id_kategori').value = data.tangsel;
                document.getElementById('id_model').value = data.pic;
                document.getElementById('id_jumlah').value = data.status;
                document.getElementById('id_harga').value = data.tangadd;
            })
           .catch(error => console.error('Error fetching user details', error));
    });
</script>

</body>
{% endblock %}
